.appBackgroundColor {
    background-color: #EBF1F3;
    margin-left: 50px;
    margin-right: 50px;
}

.textArea {
    width: 685px;
    height: 404px;
    margin-right: 44px;
    font-size: 16px;
    border-radius: 3px;
    border-color: #D3D9DB;
    padding: 16px;
}

.dayBox {
    width: 155px;
    height: 155px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid #D3D9DB;
}

.dayContainer {
    display: flex;
    justify-content: space-between;
}

.initialNameBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.appName {
    font-size: 39px;
    color: #7D8A94;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 65px;
    font-family: sans-serif;
    font-weight: 200;
}

.dayName {
    background-color: #ABA1EC;
    text-align: end;
    color: #D0E8FC;
    padding-right: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: sans-serif;
}

.form {
    display: flex;
    margin-top: 44px;
}

.yearText {
    font-size: 21px;
    color: #7D8A94;
    font-family: sans-serif;
}

.yearInput {
    border: 1px solid #D3D9DB;
    border-radius: 3px;
    padding: 17px;
    font-size: 23px;
    margin-top: 9px;
    margin-bottom: 46px;
    width: 278px;
    font-family: sans-serif;
    padding-left: 16px;
}

.updateButton {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 43px;
    padding-right: 43px;
    background-color: #1789EC;
    color: #D0E8FC;
    border-radius: 5px;
    border-color: transparent;
    font-size: 20px;
    font-family: sans-serif;
}

.initialNameText {
    font-size: 18px;
    color: white;
    font-family: sans-serif;
}

.noBirthday {
    background-color: #DFE5E7;
    display: flex;
    justify-content: center;
    align-items: center;
}